:root {
  font-family: system-ui, 'Microsoft YaHei', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* 清除默认按钮样式 */
button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* 链接样式 */
a {
  text-decoration: none;
  color: inherit;
}
